*{
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
}

body{
    background-color: #B2B6B6;
    width: 1200px;
    margin: auto;
    background-attachment: fixed ;
}

h1{
    text-align: center;
    margin-top: 10px;
    display: block;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    font-size: 33px;
}

nav{
    text-align: center;
}

.normal li{
    display: inline-block;
    padding: 5px;
    margin-top: 15px;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 1px;
    box-shadow: 2px 2px 2px black
}

.normal li i{
    color: #000;
}

.normal li a{
    text-decoration: none;
    color: #fff;
    margin: 10px;
    font-size: 21px;
}

.normal li:hover{
    background-color: lightgray;
    color: white;
}

.normal a:hover{
    color: gray;
}

p{
    font-size: 20px;
}

.formulario .contacto .send_mail{
    color: black;
    text-decoration: underline;
}

.formulario .contacto .send_mail:hover{
    color: #eee;
    text-decoration: underline;
}

.enviar{
    width: 70px;
    margin: 5px;
    padding: 5px;
    font-size: 17px;
}

.coments{
    margin-top: 8px;
}

.formulario{
    text-align: left;
    padding: 20px;
    width: 50%;
    margin: 50px auto;
    border: 2px solid #000;
}

.contacto{
    border: none;
}

.responsive{
    display: none;
}